# Intellij files
.idea/
*.iml

# Python files
.pytest_cache/
.cache
__pychache__
**/.ipynb_checkpoints

# CI files
.venv
.tox
.coverage
target/
dist/
build/
sphink-doc/
test-reports/
.eggs
*egg-info
*.log